Repository frontendcafe/air-flashcards, pull requests merged in 2022-09, with the labels that each got.

#110 [MAIN][FEATURE] Game Answer Component
  modules/StudySession/components/GameAnswer.tsx
  package-lock.json
  package.json
Labels: Study Sessions Module

#117 [MAIN][FEATURE] Create ResumeGame component
  modules/StudySession/components/ResumeGame.tsx
  modules/shared/theme/index.ts
Labels: Study Sessions Module

#103 [MAIN] [FEATURE] Recover Password Screen
  modules/Auth/Form.tsx
  modules/Auth/components/ForgetPasswordPage/ForgetPasswordPage.tsx
  package-lock.json
Labels: Auth Module

#112 [MAIN][FEAT] crear componente textfield
  modules/shared/components/TextField.tsx
  modules/shared/theme/index.ts
  package-lock.json
  package.json
Labels: Common Module

#115 [MAIN] [FEATURE] Select Component
  modules/shared/components/Select.tsx
  package-lock.json
  pages/index.tsx
Labels: Cards Module

#124 [MAIN][FEATURE] login, signup and recover password screen
  modules/Auth/components/AuthFormLayout.tsx
  modules/Auth/components/CustomFormControl.tsx
  modules/Auth/components/ForgetPasswordPage/ForgetPasswordPage.tsx
  pages/login.tsx
  pages/register.tsx
Labels: Auth Module, MVP

#118 Main feature/95 mis colecciones
  modules/Cards/getCollectionCards.ts
  modules/Collections/MyCollectionsPage/NoCollections.tsx
  modules/Collections/MyCollectionsPage/colletionList/CollectionItem.tsx
  modules/Collections/MyCollectionsPage/colletionList/CollectionsList.tsx
  modules/Collections/MyCollectionsPage/index.tsx
  modules/Collections/getCollectionStudySessions.ts
  modules/Collections/hooks/useUserCollections.tsx
  modules/StudySession/components/GameCard.tsx
  package-lock.json
  pages/api/collections/[id]/index.ts
  pages/api/collections/user/[id].tsx
  pages/index.tsx
  public/images/cuate.svg
Labels: Collections Module, MVP

#132 [MAIN][FEATURE] Implementación buscador colecciones
  modules/Collections/MyCollectionsPage/index.tsx
  modules/Collections/hooks/useFilterUserCollections.tsx
  modules/shared/components/Menu/Menu.tsx
  modules/shared/theme/index.ts
  package-lock.json
  pages/index.tsx
Labels: Collections Module
