Repository frontendcafe/air-flashcards, pull requests merged in 2022-08, with the labels that each got.

#12 [MAIN][FEATURE] Authentication and Login and Register pages
  .gitignore
  firebase/auth.ts
  firebase/index.ts
  modules/Auth/Form.tsx
  modules/Auth/components/FormField.tsx
  package.json
  pages/_app.tsx
  pages/index.tsx
  pages/login.tsx
  pages/register.tsx
  yarn.lock
Labels: Auth Module

#14 chore: create pull_request_template.md
  .github/pull_request_template.md
Labels: Common Module

#9 [MAIN][FEATURE] Add Folder structure section in the README
  README.md
Labels: Common Module

#28 [MAIN][FIX] Improve pull request | Issue field
  .github/pull_request_template.md
Labels: Common Module

#33 [MAIN][FEATURE] Integracion con firestore, creo endpoints y rutas para demostracion
  .env.example
  modules/Cards/models.ts
  modules/Collections/models.ts
  modules/Firestore/index.ts
  pages/api/collections/[id]/cards.ts
  pages/api/collections/index.ts
  pages/collections/[id]/cards.tsx
Labels: Cards Module, Collections Module, Common Module

#32 [MAIN][FIX] Fix build
  firebaseConfig.ts
  modules/Auth/firebase/auth.ts
  modules/Firestore/index.ts
  modules/Storage/utils/storage.ts
  pages/_app.tsx
  pages/index.tsx
  pages/login.tsx
  pages/register.tsx
Labels: bug, Auth Module

#58 feat(EditCard): add edit card endpoint
  pages/api/collections/[id]/cards/[cardId].ts
Labels: Cards Module

#56 [MAIN][FEATURE] Add Card model
  modules/Cards/models.ts
Labels: Cards Module

#60 Main Feature-34 Crear endpoint para crear una card
  modules/Api/Services/FireStore/index.ts
  modules/Api/models.ts
  modules/Api/utils.ts
  modules/Cards/schema.ts
  package.json
  pages/api/collections/[id]/cards.ts
Labels: Cards Module

#64 [MAIN][FEAT] Adds delete card method
  pages/api/collections/[id]/cards/[cardId].ts
Labels: Cards Module

#67 [MAIN][FEATURE] Chakra configuration
  modules/Auth/Form.tsx
  modules/Auth/components/FormField.tsx
  modules/shared/theme/index.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
Labels: Common Module

#52 [MAIN][FEATURE] add GitHub actions config to pull request
  .eslintignore
  .eslintrc.json
  .github/workflows/pull_request.yml
  .husky/pre-commit
  lint-staged.config.js
  modules/Storage/index.ts
  modules/shared/theme/index.ts
  next.config.js
  package-lock.json
  package.json
  pages/_document.tsx
  pages/api/collections/index.ts
  pages/collections/[id]/cards.tsx
Labels: Common Module

#62 [MAIN][FEATURE] Issue 49 auth firestore in server side, refreshtoken
  .gitignore
  firebaseAdminConfig.ts
  modules/Auth/Form.tsx
  modules/Auth/context/AuthProvider.tsx
  modules/shared/AuthGuard.tsx
  package.json
  pages/_app.tsx
  pages/index.tsx
  pages/login.tsx
  pages/register.tsx
Labels: Auth Module

#68 [MAIN][FEATURE] endpoint eliminar studysession
  firebaseAdminConfig.ts
  modules/StudySession/services.ts
  package-lock.json
  pages/api/study-sessions/index.ts
Labels: Study Sessions Module

#82 Crear endpoint para obtener una coleccion por id#46
  package-lock.json
  pages/api/collections/[id]/index.ts
Labels: Collections Module
